In [5]:
from sklearn.datasets import load_boston,load_diabetes
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error
import pandas as pd

In [6]:
boston = load_boston()
df = pd.DataFrame(boston.data,columns = boston.feature_names)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
y = boston.target

In [8]:
X_train,X_test,y_train,y_test = train_test_split(df,y)
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(379, 13) (379,)
(127, 13) (127,)

In [9]:
model = SVR()
model.fit(X_train,y_train)
out = model.predict(X_test)
score = model.score(X_test,y_test)
print(score)
print(mean_absolute_error(y_test,out))
print(mean_squared_error(y_test,out))
reg = RandomForestRegressor()
reg.fit(X_train,y_train)
res = reg.predict(X_test)
print(reg.score(X_test,y_test))
print(mean_absolute_error(y_test,res))
print(mean_squared_error(y_test,res))

-0.003335913039627769
6.281199332025728
80.01213557873368
0.8764302860697002
2.286220472440945
9.854203937007872

In [11]:
diab = load_diabetes()
df = pd.DataFrame(diab.data,columns = diab.feature_names)
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [12]:
y = diab.target

In [14]:
X_train,X_test,y_train,y_test = train_test_split(df,y)
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(331, 10) (331,)
(111, 10) (111,)

In [15]:
model = SVR()
model.fit(X_train,y_train)
out = model.predict(X_test)
print(model.score(X_test,y_test))
print(mean_absolute_error(y_test,out))
print(mean_squared_error(y_test,out))
reg = RandomForestRegressor()
reg.fit(X_train,y_train)
res = reg.predict(X_test)
print(reg.score(X_test,y_test))
print(mean_absolute_error(y_test,res))
print(mean_squared_error(y_test,res))

-0.05709556638498836
65.64710614436258
6248.3528171843445
0.33528569086451987
50.63513513513514
3929.0388288288295